@use "../../scss/abstracts/variables";

.container {
  min-height: 100vh;
}

.emptyState {
  border: none;
  border-radius: variables.$border-radius-card;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-size: variables.$font-size-md;
  color: variables.$text-gray;
  box-shadow: variables.$shadow-card;

  svg {
    opacity: 0.6;
    margin-bottom: 1rem;
  }
}

@media (max-width: variables.$breakpoint-md) {
  .emptyState {
    padding: 1.5rem;
    font-size: 1rem;
  }
}
